<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Time Network Monitor</title>
    <!-- Include Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .BENIGN{
            background-color: #28a745;
            color: white;
            padding: 3px;
            border-radius: 10px;
        }
        .DDoS{
            background-color: #dc3545;
            color: white;
            padding: 3px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    
    
    
    <!-- Main Content Section -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="col-md-6">
                    <a class="navbar-brand" href="#">Real Time Network Monitor</a>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4">
                        <select class="form-select" name="num_records" id="num-records">
                            <option value="0">Number of records</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1">All</option>
                        </select>
                    </div>
    
                    <div class="col-md-4">
                        <select class="form-select me-2" id="networkInterfaceSelect">
                            {% for interface in interfaces %}
                            <option selected>{{ interface }}</option>
                            {% empty %}
                            <option selected value="0">No interface found!</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary me-2" id="startButton">Start</button>
                        <button class="btn btn-danger me-2" id="stopButton" style="display:none">Stop</button>
                        <button class="btn btn-warning" id="clearButton">Clear Database</button>
                    </div>
                    

                </div>
            </div>
        </nav>
        <br>
        <!-- Table for displaying records -->
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title
                        ">Network Flows</h5>
                        <p class="card-text">This table displays the network flows in real time.</p>
                        
                        <table class="table table-striped table-bordered table-hover mt-3" id="recordsTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Source IP</th>
                                    <th>Destination IP</th>
                                    <th>Source Port</th>
                                    <th>Destination Port</th>
                                    <th>Flow Duration</th>
                                    <th>Timestamp</th>
                                    <th>Model Result</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="col-4">
                
                {% include 'partials/graph_1.html' %}
                <br>
                {% include 'partials/graph_2.html' %}
                <br>
                {% include 'partials/blocked.html' %}
                
            </div>
        </div>
        
    </div>
    <script>
        $(document).ready(function(){
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            
            $("#startButton").click(function(){
                var selectedInterface = $("#networkInterfaceSelect").val();
                $.ajax({
                    type: "POST",
                    url: "/start_interface",
                    data: {
                        interface: selectedInterface
                    },
                    success: function(response){
                        toastr["success"](response.message);
                    }
                });
            });
            
            $("#clearButton").click(function(){
                $.ajax({
                    type: "GET",
                    url: "/clear_db",
                    success: function(response){
                        toastr["success"](response.message);
                    }
                });
            });
            
            $("#stopButton").click(function(){
                $.ajax({
                    type: "GET",
                    url: "/stop_interface",
                    success: function(response){
                        toastr["success"](response.message);
                    }
                });
            });
            // Function to update the table with new records
            //call it every three secconds
            setInterval(updateTable, 3000);
            updateTable();
            
            function updateTable(){
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8000/get_data?num_records="+$("#num-records").val(),
                    success: function(response){
                        var records = response.data;
                        var tableBody = $("#recordsTable tbody");
                        tableBody.empty();
                        for(var i=0; i<records.length; i++){
                            var record = records[i];
                            var row = "<tr>";
                                row += "<td>"+record.id+"</td>";
                                row += "<td>"+record.data.src_ip+"</td>";
                                row += "<td>"+record.data.dst_ip+"</td>";
                                row += "<td>"+record.data.src_port+"</td>";
                                row += "<td>"+record.data.dst_port+"</td>";
                                row += "<td>"+Math.round(record.data.flow_duration)+"</td>";
                                row += "<td>"+record.data.timestamp+"</td>";
                                alert = record.prediction == "BENIGN" ? "NORMAL" : "DDoS";
                                row += "<td><span class='"+record.prediction+"'>"+alert+"</span></td>";
                                row += "</tr>";
                                tableBody.append(row);
                            }
                            draw_graph_1(response.graphs.graph_1);
                            draw_graph_2(response.graphs.graph_2);
                            update_blocked_table(response.blocked);
                            
                            if(response.settings.cic_status == true){
                                $("#startButton").hide();
                                $("#stopButton").show();
                            }
                            else
                            {
                                $("#startButton").show();
                                $("#stopButton").hide();
                            }
                            if (response.settings.interface != null && response.settings.interface != "" && response.settings.interface != "False"){
                                $("#networkInterfaceSelect").val(response.settings.interface);
                            }
                        }
                    });
                }
            });
        </script>
    </body>
    </html>
    